/* You can add global styles to this file, and also import other style files */
.config-card {
  max-width: 500px;
  width: 95%;
  margin: 1.5em auto;
}

.config-view {
  height: 100vh;
  overflow-y: auto;
  background: url('assets/images/oooscillate.svg') no-repeat center / cover;
}

.config-view>.container {
  height: 100%;
}

.auth-card {
  max-width: 500px;
  width: 95%;
  margin: 1.5em auto;
}

.auth-view {
  height: 100vh;
  overflow-y: auto;
  background: url('assets/images/oooscillate.svg') no-repeat center / cover;
}

.auth-view>.container {
  height: 100%;
}

.group-fields {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin: 1.5em 0;
}

.main-container {
  display: grid;
  grid-template-columns: var(--sidebarWidth) 1fr;
  transition: all 0.3s linear 0.0s;
}

.main-container.open {
  grid-template-columns: var(--sidebarCloseWidth) 1fr;
  transition: all 0.3s linear 0.3s;
}

.wraper {
  padding: 1.5em;
  height: 100vh;
  overflow-y: auto;
}

.select_school_image {
  width: 50px;
}

.toasts-container {
  position: fixed;
  top: 0;
  overflow-y: auto;
  min-width: calc(var(--sidebarWidth) * 1.75);
  height: 100vh;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 1.5em;
  justify-content: flex-end;
  pointer-events: none;
}

@media (max-width: 1150px) {
  .show-student-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}